*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #3D4435;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
}
header button{
    background-color: #A15D31;
    color: white;
}
header a{
    color: white;
}
.On-going-div{
    display: flex;
}
.On-going-div-main{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
}
.line{
    height: 0.5px;
    background-color: black;
}
/* Main page */
.main-page-intro{
    display: flex;
    justify-content: space-between;
}

/* about */
.about-us-main-intro{
    display: flex;
}
.about-us-main{
    background-color: #D4D7D9;
    color: black;
}
.objective-div{
    border: 2px solid yellow ;
    display: flex;
}
.our-vision-div{
    display: flex;
}